
nextflow.enable.dsl = 2
singularity.enabled = true
singularity.cacheDir = "$HOME/.singularity/cache"

params {
    limma_voom_script = "(local_dir)/galaxy/tools/limma_voom/final/limma_voom.R"
    annotation_file   = "(local_dir)/sample_data/galaxy/limma_voom_tool/anno.txt"
    contrast_file     = "(local_dir)/sample_data/galaxy/limma_voom_tool/contrasts.txt"
    factor_file       = "(local_dir)/sample_data/galaxy/limma_voom_tool/factorinfo.txt"
    matrix_file       = "(local_dir)/sample_data/galaxy/limma_voom_tool/matrix.txt"
    html_path         = "outReport.html"
    output_path       = "."
}