
nextflow.enable.dsl=2
docker.enabled = true

params {
    
    // Macro to all optional task inputs 
    // (do not alter unless you know what you are doing)
    NULL_VALUE = 'NULL'

    // WORKFLOW OUTPUT DIRECTORY
    outdir  = './outputs'

    // INPUTS (MANDATORY)
    bams        = [
        "../../../../sample_data/cwl/2895499223.bam",
        "../../../../sample_data/cwl/2895499237.bam",
    ]
    reference   = [
        "../../../../sample_data/cwl/chr17_test.fa",
        "../../../../sample_data/cwl/chr17_test.fa.amb",
        "../../../../sample_data/cwl/chr17_test.fa.ann",
        "../../../../sample_data/cwl/chr17_test.fa.bwt",
        "../../../../sample_data/cwl/chr17_test.fa.fai",
        "../../../../sample_data/cwl/chr17_test.dict",
        "../../../../sample_data/cwl/chr17_test.fa.pac",
        "../../../../sample_data/cwl/chr17_test.fa.sa",
    ] 
    readgroups  = [
        '@RG\tID:2895499223\tPU:H7HY2CCXX.3.ATCACGGT\tSM:H_NJ-HCC1395-HCC1395\tLB:H_NJ-HCC1395-HCC1395-lg24-lib1\tPL:Illumina\tCN:WUGSC',
        '@RG\tID:2895499237\tPU:H7HY2CCXX.4.ATCACGGT\tSM:H_NJ-HCC1395-HCC1395\tLB:H_NJ-HCC1395-HCC1395-lg24-lib1\tPL:Illumina\tCN:WUGSC'
    ]

    // INPUTS (OPTIONAL)
    final_name  = "final.bam" 

    // PROCESS: ALIGN_AND_TAG
    align_and_tag.cpus    = 8     
    align_and_tag.memory  = 20000 

    // PROCESS: INDEX_BAM
    index_bam.memory  = 4000 

    // PROCESS: MARK_DUPLICATES_AND_SORT
    mark_duplicates_and_sort.script  = "/home/grace/work/pp/translation/examples/cwl/workflows/align_sort_markdup/final/templates/markduplicates_helper.sh" 
    mark_duplicates_and_sort.cpus    = 8     
    mark_duplicates_and_sort.memory  = 40000 

    // PROCESS: MERGE_BAMS_SAMTOOLS
    merge_bams_samtools.cpus    = 4    
    merge_bams_samtools.memory  = 8000 

    // PROCESS: NAME_SORT
    name_sort.cpus    = 8     
    name_sort.memory  = 26000 


}
